diffusers
gradio
numpy<2
Pillow
transformers
accelerate
scikit-image
einops
kiui
opencv-python
plyfile
omegaconf
pytorch-lightning
xatlas
trimesh
Ninja
kornia
git+https://github.com/NVlabs/nvdiffrast/