torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu124
accelerate
scikit-image
einops
kiui
opencv-python
plyfile
gradio_litmodel3d
xformers --index-url https://download.pytorch.org/whl/cu124
git+https://github.com/graphdeco-inria/diff-gaussian-rasterization